* {
    box-sizing: border-box;
    overflow: hidden;
}

body {
    width: 100vw;
    height: 100vh;


    background: #1DE66D;
}

.container {
    position: absolute;
    width: 100%;
    height: 86px;
    left: 8px;
    top: 10px;

    background: #F1ECEC;
}

h1 {
    position: absolute;
    width: 142px;
    height: 46px;
    left: 600px;
    top: 0px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;

    color: #76B439;
}

img {
    position: absolute;
    width: 99px;
    height: 82px;
    left: 2px;
    top: 2px;
}

.one {
    position: absolute;
    width: 448px;
    height: 300px;
    left: 60px;
    top: 90px;
    /* margin-top: -150px; */
    background-color: red;
    padding: 50px 0px;
    background-image: url(VOICE.png);
    background-repeat: no-repeat;
    background-size: 448px 300px;


}

.two {
    position: absolute;
    width: 448px;
    height: 300px;
    left: 573px;
    top: 90px;

    padding: 50px 0px;
    background-color: rgb(239, 242, 36);
    background-image: url(text.png);
    background-repeat: no-repeat;
    background-size: 448px 300px;

}

button {
    padding: 13px 36px 13px 36px;
    border: 0;
    outline: 0;
    background: brown;
    color: white;
    border-radius: 8px;

}

h2 {
    color: rgb(38, 187, 198);
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 10px;
    text-shadow: 2px 3px 5px gray;
    letter-spacing: 2px;
}

textarea {
    font-family: sans-serif;
    padding: 24px 43px 0px 50px;
    text-align: justify;
    border: 0;
    outline: 0;
    color: red;
    box-shadow: inset 2px 3px 5px grey;
    border-radius: 8px;

}

#textbox {
    font-family: sans-serif;
    padding: 24px 43px 0px 50px;
    text-align: justify;
    border: 0;
    outline: 0;
    color: red;
    box-shadow: inset 2px 3px 5px grey;
    border-radius: 8px;


}

#submit {
    display: flex;
    margin: auto;
}

.box-container {
    height: 100%;
    /* width: 100%; */
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    margin: 0 auto;
    margin-top: 10px;
    transform: translateX(13%);
}

/* .three{
    background-color: white;
} */